/*Here is some example CSS by Charlie Meyrick. */

body{

    background-color: #f1e3dd ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: black;
    font-family: 'Poppins', sans-serif ;
}

h2{

    color: black;
    font-family: 'Poppins', sans-serif ;
}
h3{
    color: black;
    font-family: 'Poppins', sans-serif ;
}
p{
    color: black;
    font-family: 'Poppins', sans-serif ;
}



.chart{
    width: auto;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;

}


.chart:hover { transform: scale(1.1); }

.links {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color:#f4a688;
  font-family: 'Poppins', sans-serif ;
}


.links:hover { transform: scale(1.02); }


.python {
    border: 0;
    line-height: 2.5;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color:#f4a688;
  font-family: 'Poppins', sans-serif ;
}

.links:python { transform: scale(1.02); }

