/*Here is some example CSS by Charlie Meyrick. */

body{

    background-color: #9ead92 ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: black;
    font-family: 'Poppins', sans-serif ;
}

h2{

    color: black;
    font-family: 'Poppins', sans-serif ;
}
h3{
    color: #575757;
    font-family: 'Poppins', sans-serif ;
}
p{
    color: #757575;
    font-family: 'Poppins', sans-serif ;
}



.chart{
    width: auto;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;

}


.chart:hover {
background-color: #9ead92;
    }
