/*Here is some example CSS by Charlie Meyrick. */

body{

    background-color: #E5E4E2 ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: black;
    font-family: 'Poppins', sans-serif ;
}

h2{

    color: black;
    font-family: 'Poppins', sans-serif ;
}
h3{
    color: #575757;
    font-family: 'Poppins', sans-serif ;
}
p{
    color: #757575;
    font-family: 'Poppins', sans-serif ;
}



.chart{
    width: auto;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;

}


.chart:hover { transform: scale(1.1); }

.links {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: #DCDCDC;
  font-family: 'Poppins', sans-serif ;
}


.links:hover { transform: scale(1.05); }


